<barre-connexion></barre-connexion>

<img class="arriere-plan" src="Nurse.jpg">
<div class="case-inscription">
    <h1>Inscription</h1>
    <br>
    <form method="get">
        <label for="username">Email</label>
        <br>
        <input type="email" id="username" required>
        <br><br>
        <label for="password">Mot de passe</label>
        <br>
        <input type="password" id="password" autocomplete="current-password" required>
        <br><br>
        <button type="submit">Enregistre-toi</button>
        <br><br>
        <a routerLink="/connexion/identification" style="color: #5B21B6; cursor: pointer; align-self: center">
            Tu as déjà un compte ?<br>Connecte-toi !
        </a>
    </form>
</div>
