.arriere-plan {
    background-position: center;
    background-size: cover;
    position: fixed;

    height: 100%;
    width: 100%;
    
    z-index: -1;
}

.case-inscription {
    align-content: center;
    text-align: center;

    width: 220px;
    height: 300px;

    background-color: white;
    border-style: solid;
    border-color: blue;
    border-width: 10px;
    border-radius: 30px;

    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}