<barre-gestion></barre-gestion>
<div class="boutons">
    <button class="gestion-boutons">Modifier mes informations</button>
    <button class="gestion-boutons">Gérer mes <br>projets</button>
    <button class="gestion-boutons">Afficher tous les utilisateurs</button>
    <button class="gestion-boutons">Gérer les <br>rôles</button>
    <button class="gestion-boutons">Gérer les <br>profils</button>
    <button class="gestion-boutons" style="background-color: red;">Supprimer mon compte</button>
</div>